.statsContainer {
  width: 580px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.statsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px;
  height: 206px;
}

.statsSection {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.statsTitle {
  margin: 0;
}

.statsList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.statsNumber {
  text-shadow: 0 0 16px rgba(51, 51, 255, 0.25), 0 0 8px rgba(51, 51, 255, 0.25), 0 4px 32px rgba(51, 51, 255, 0.5);
}