.link {
  display: block;
  padding: 8px 0;
  color: #8585AD;
  text-decoration: none;
}

.button {
  background: transparent;
  border: none;
  padding: 8px 0;
  margin: 0;
  cursor: pointer;
  display: block;
  text-align: left;
  color: #8585AD;
  text-decoration: none;
}

.active {
  color: #F2F2F3;
}

.hint {
  margin-top: 40px;
  color: #404052;
}