.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.modalOverlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.modalContent {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 720px;
    padding: 40px;
    background-color: rgba(28, 28, 33, 1);
    border: 1px solid rgba(76, 76, 255, 0.2);
    border-radius: 40px;
    position: relative;
    z-index: 1;
}

.modalCloseIcon {
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 60px;
    right: 40px;
    cursor: pointer;
}
