.BurgerConstructor {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.BurgerConstructorIngredients {
    composes: BurgerConstructor;
}

.BurgerConstructorForm {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    padding: 40px 0 0 0;
}

.BurgerConstructorButton {
    padding: 20px 40px;
    color: white;
    background: linear-gradient(63.18deg, #801AB3 0%, #4C4CFF 100%);
    border-radius: 40px;
    box-shadow:
            0 4px 32px 0 rgba(51, 51, 255, 0.5),
            0 0 8px 8px rgba(51, 51, 255, 0.25),
            0 0 16px 8px rgba(51, 51, 255, 0.25);
    cursor: pointer;
}
