.nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
}

.list {
    display: flex;
    gap: 8px;
}

.listEnd {
    justify-self: end;
}

.logo {
    height: 40px;
}

