.burgerIngredient {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    position: relative;
    cursor: pointer;
}

.burgerIngredientName {
    text-align: center;
}
